# Required components
lxml
python-mimeparse
scandir  # This is included in the standard library as os.scandir in Python>=3.5
six

# Unit test tools
coverage
pytest
pytest-cov

# Validator components required to run unit tests
ffmpeg-python
file-magic
opf-fido
Pillow
pymediainfo
wand

# Required dpres-components
git+https://gitlab.csc.fi/dpres/xml-helpers.git@develop#egg=xml_helpers
git+https://gitlab.csc.fi/dpres/mets.git@develop#egg=mets
git+https://gitlab.csc.fi/dpres/premis.git@develop#egg=premis
git+https://gitlab.csc.fi/dpres/file-scraper.git@develop#egg=file-scraper
