# Required components
lxml
python-mimeparse
pathlib2 ; python_version == '2.7'

# Unit test tools
coverage
pytest
pytest-cov

# Required dpres-components
git+https://gitlab.ci.csc.fi/dpres/xml-helpers.git@develop#egg=xml_helpers
git+https://gitlab.ci.csc.fi/dpres/mets.git@develop#egg=mets
git+https://gitlab.ci.csc.fi/dpres/premis.git@develop#egg=premis
git+https://gitlab.ci.csc.fi/dpres/ffmpeg-python.git#egg=ffmpeg_python
git+https://gitlab.ci.csc.fi/dpres/fido.git@develop#egg=opf_fido
git+https://gitlab.ci.csc.fi/dpres/file-scraper.git@develop#egg=file_scraper
