lxml
python-mimeparse
six

git+https://github.com/Digital-Preservation-Finland/xml-helpers.git#egg=xml_helpers
git+https://github.com/Digital-Preservation-Finland/mets.git#egg=mets
git+https://github.com/Digital-Preservation-Finland/premis.git#egg=premis
git+https://github.com/Digital-Preservation-Finland/ffmpeg-python.git#egg=ffmpeg_python
git+https://github.com/Digital-Preservation-Finland/fido.git#egg=opf_fido
git+https://github.com/Digital-Preservation-Finland/file-scraper.git#egg=file_scraper
